.App {
  text-align: center;
}

.App button {
  height: 50px;
  width: 150px;
  border:0;
  background-color:#002d76;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
}

.App button:hover{
  color:#fff;
  background-color:#0488c6;
  border:2px #0488c6 solid;
}
